mixin projects
	header( class="pane__header wow fadeIn" )
		| Примеры работ
	+b('ul').list
		each item in site.data.projects
			.grid-sizer
			.gutter-sizer
			+e.item( class="wow fadeIn grid-item", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				+e('div').title !{item.title}
				+e('div').lead !{item.lead}
				+b('ul').list--nested
					case item.type
						when "inner"
							+e('li').item
								+e('p').text !{item.text}

							+e('li').item
								+e('a').link( href=item.repoLink, target="_blank" )
									| Ссылка на&nbsp;github-репозиторий

						default
							+e('li').item
								+e('p').text !{item.text}

							+e('li').item
								+e('a').link( href=item.siteLink, target="_blank" )
									| Ссылка на сайт

							+e('li').item
								+e('a').link( href=item.repoLink, target="_blank" )
									| Ссылка на&nbsp;github-репозиторий
