mixin projects
	header.wow.fadeIn( elem="header" )
		| Примеры работ
	+b('ul').list
		each item in site.data.projects
			+e.item( class="wow fadeIn", data-wow-duration=duration, data-wow-delay=( delay += stagger ) + "s")
				+e('div').title !{item.title}
				+e('div').lead !{item.lead}
				ul( class="--nested" )
					case item.type
						when "inner"
							+e('li').item
								+e('p').text !{item.text}

							+e('li').item
								+e('a').link( href=item.repoLink, target="_blank" )
									| Ссылка на&nbsp;github-репозиторий

						default
							+e('li').item
								+e('p').text !{item.text}

							+e('li').item
								+e('a').link( href=item.siteLink, target="_blank" )
									| Ссылка на сайт

							+e('li').item
								+e('a').link( href=item.repoLink, target="_blank" )
									| Ссылка на&nbsp;github-репозиторий
